@import "colors.css";

* {
  font-family: MesloLGL Nerd Font;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px;
}

window#waybar {
  background-color: @bg;
}

@keyframes button_activate {
  from {
    opacity: .3
  }

  to {
    opacity: 1.;
  }
}

#workspaces,
#clock,
#backlight,
#battery,
#cpu,
#pulseaudio,
#custom-launcher,
#custom-powermenu,
#tray,
#network,
#mpris,
#mode,
#language{
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 3px;
  padding-right: 3px;
}

#workspaces {
}

#workspaces button {
  padding-left:  6px;
  padding-right: 6px;
  color: @unfocused-text;
  font-weight: bolder;
}

#workspaces button.focused {
  color: @text;
  animation: button_activate .2s ease-in-out;
  background: radial-gradient(circle, rgba(25, 79, 25, 0.25) 20%, rgba(132, 129, 156, 0) 30%);
  border-bottom: 2px solid;
}

#workspaces button.urgent {
  color: #ff8873;
  background: radial-gradient(circle, rgba(255, 79, 25, 0.2) 20%, rgba(156, 129, 132, 0) 30%);
}

#workspaces button:hover,
#workspaces button.active:hover,
#workspaces button.urgent:hover {
  background: none;
}


#mpris{
}

#mpris.paused{
  color: @unfocused-text;
}

#tray {
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}

#mode{
  color: @red;
  font-size: 15px;
}

#clock {
  font-weight: bolder;
  font-size: 13px;
}

#language {
}

#backlight {
}

#pulseaudio {
}

#pulseaudio.muted {
  font-size: 17px;
}
#network {
}

#network.disconnected {
  color: @red;
}

#custom-powermenu {
  color: @red;
}

#battery {
  font-size: 14px;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
}

#battery.warning {
  color: @red;
}

#battery.critical:not(.charging) {
  color: @red;
}

tooltip {
  background-color: @solid-bg;
}

tooltip label {
}


